<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Community, resources and advocacy. 💫 Sharing all the work towards femboy recognition in Australia.">
        <meta name="keywords" content="Femboy, Femboys, Australia, Grassroots, Community, LGBTQIA+">
        <meta name="author" content="sammypanda">
        <!-- Primary Meta Tags -->
        <title>Femboys Australia!</title>
        <meta name="title" content="Femboys Australia!" />
        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://femboysaustralia.org/" />
        <meta property="og:title" content="Femboys Australia!" />
        <meta property="og:description" content="Community, resources and advocacy. 💫 Sharing all the work towards femboy recognition in Australia." />
        <meta property="og:image" content="/img/metabanner.png" />
        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://femboysaustralia.org/" />
        <meta property="twitter:title" content="Femboys Australia!" />
        <meta property="twitter:description" content="Community, resources and advocacy. 💫 Sharing all the work towards femboy recognition in Australia." />
        <meta property="twitter:image" content="/img/metabanner.png" />
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/styles/critical.css" inline>

        <!-- page stylesheets -->
        {{ if it.page_stylesheet }}
            <link rel="stylesheet" href="/styles/pages/{{ page_stylesheet }}.css">
        {{ /if }}

        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
        <link rel="manifest" href="/img/favicon/site.webmanifest">

        <link rel="canonical" href="https://femboysaustralia.org/">
    </head>

    <body>
        {{ content }}
    </body>
</html>
